<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Electric bicycle park</title>

		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>

		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
		/>
		<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""
		></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" />
	</head>

	<body>
		<div class="left-panel">
			<div class="logo">
				<a href="/">
					<img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
				</a>
			</div>
			{% if data|length > 0 %}
			<div class="nb-results">
				<p>{{data|length}} results found</p>
			</div>
			{% endif %}
			<div id="results">
				<div>
					{% if data|length > 0 %} {% for record in data %}
					<div
						class="card"
						onclick="mapWithSpecificCoordinates({{record['latitude']}} , {{record['longitude']}})"
					>
						<div style="font-weight: bold;">
							<div>
								<strong>{{record['name']}}</strong>
								<p>{{record['commune']}}</p>
							</div>
							{% if record['is_usable'] %}
								<div>
									<img src="{{ url_for('static', filename='images/electric.png') }}" alt="" />
								</div>
								<div>
									<p>Number of electrical bicycles: {{record['nb_electrical_bicycles']}}</p>
									<p>Number of mechanical bicycles: {{record['nb_mechanical_bicycles']}}</p>
									<p>Number of available bicycles: {{record['nb_electrical_bicycles'] + record['nb_mechanical_bicycles']}}</p>
									<p>Number of available terminals: {{record['nb_available_terminals']}}</p>
									<p>Temperature: {{record['temperature']}}</p>
									<p>Last update date: {{record['update_date']}}</p>
								</div>
							{% else %}
								<div>
									<img src="{{ url_for('static', filename='images/mechanic.png') }}" alt="" />
								</div>
								<div>
									<p style="color: black">Number of electrical bicycles: {{record['nb_electrical_bicycles']}}</p>
									<p style="color: black">Number of mechanical bicycles: {{record['nb_mechanical_bicycles']}}</p>
									<p style="color: black">Number of available bicycles: {{record['nb_electrical_bicycles'] + record['nb_mechanical_bicycles']}}</p>
									<p style="color: black">Number of available terminals: {{record['nb_available_terminals']}}</p>
									<p style="color: black">Temperature: {{record['temperature']}}</p>
									<p style="color: black">Last update date: {{record['update_date']}}</p>
								</div>
							{% endif %}
						</div>
					</div>
					{% endfor %} {% else %}
					<div class="no-results">
						<p>No results found :(</p>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class="right-panel">
			<div id="wrapper">
				<h2>Find the best trip possible with your departure and arrival adresses.</h2>
				<div class="trip" id="first">
					<form action="{{ url_for('search_trip') }}" method="POST" id="search-trip" style='margin-top: 50px;' name="search-trip">
						<label for="departure">Departure:</label>
						<input type="text" id="departure" style="border-radius: 15px;width: 200px;text-align: center;" name="departure" size="10">
						<br>
						<label for="arrival">Arrival:</label>
						<input type="text" id="arrival" style="border-radius: 15px;width: 200px;text-align: center;" name="arrival" size="10">
						<br>
						<button type="submit" id="search-trip-submit">Search trip</button>
					</form>
				</div>
				<div class="upload" id="second">
					<form action="{{ url_for('upload') }}" method="POST" id="upload-form" style='margin-top: 50px;'name="upload-form">
						<select id="format-select" style="border-radius: 15px;width: 200px;text-align: center;" name="format-select">
							<option value="xml">xml</option>
							<option value="n3">n3</option>
							<option value="turtle">turtle</option>
							<option value="nt">nt</option>
							<option value="pretty-xml">pretty-xml</option>
							<option value="trix">trix</option>
							<option value="trig">trig</option>
							<option value="nquads">nquads</option>
						</select>
						<br>
						<button type="submit" id="upload-submit">Download</button>
					</form>
				</div>
			</div>
			<form action="" method="POST" id="form" name="form">
				<button type="submit" id="submit" style="background: transparent;border: none !important;font-size:0;"></button>
				<div class="filters">
					<div>Type of bicycle :</div>
					<div onchange="validateFormOnFilterChange()">
						<input
							type="checkbox"
							name="type_of_bicycle"
							id="mechanic"
							value="mechanic"
							checked
						/>
						<label for="mechanic">Mechanic</label>
					</div>
					<div onchange="validateFormOnFilterChange()">
						<input
							type="checkbox"
							name="type_of_bicycle"
							id="electric"
							value="electric"
							checked
						/>
						<label for="electric">Electric</label>
					</div>
				</div>
			</form>
			<div id="map"></div>

			<div id="loader" class="loader">
				<div class="loading"></div>
			</div>
		</div>
	</body>

	<script>
		let submit = document.getElementById('submit');
		let loading = document.getElementById('loader');

		/* Validate form when clicking in filters */
		function validateFormOnFilterChange(){
			submit.click();
			loading.style.visibility = "visible";
		}

		/* Map */
		const map = L.map('map');

		/* Move camera with specific coodinates (results' coordinates) */
		function mapWithSpecificCoordinates(lat, long){
			map.panTo(new L.LatLng(lat, long), {animate: true, duration: 2});
		}

		const electric = L.icon({
			iconUrl: "{{ url_for('static', filename='images/electric.png') }}",
			iconSize: [27, 20],
			iconAnchor: [12, 12],
			popupAnchor: [0, -12]
		});
		const meca = L.icon({
			iconUrl: "{{ url_for('static', filename='images/mechanic.png') }}",
			iconSize: [27, 20],
			iconAnchor: [12, 12],
			popupAnchor: [0, -12]
		});

		const departure = L.icon({
			iconUrl: "{{ url_for('static', filename='images/departure.png') }}",
			iconSize: [44, 60],
			iconAnchor: [12, 12],
			popupAnchor: [0, -12]
		});

		const arrival = L.icon({
			iconUrl: "{{ url_for('static', filename='images/arrival.png') }}",
			iconSize: [44, 60],
			iconAnchor: [12, 12],
			popupAnchor: [0, -12]
		});

		const createMap = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			maxZoom: 18,
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1,
			accessToken: "{{ mapbox_access_token }}"
		}).addTo(map);

		/* Center map using user location */
		map.locate({setView: true, watch: false, maxZoom: 13})
			.on('locationfound', function(e){
				mapWithSpecificCoordinates(e.latitude, e.longitude);
			})
			.on('locationerror', function(e){
				map.setView([48.856614, 2.3522219], 11);
			});

		{% for record in data %}
			var text = "<div>"
			text += "<h2>{{record['name']}}</h2>"
			text += "<p>{{record['commune']}}</p>"
			text += "<br/>"
			text += "<p>Number of electrical bicycles: {{record['nb_electrical_bicycles']}}</p>"
			text += "<p>Number of mechanical bicycles: {{record['nb_mechanical_bicycles']}}</p>"
			text += "<p>Number of available bicycles: {{record['nb_electrical_bicycles'] + record['nb_mechanical_bicycles']}}"
			text += "<p>Number of available terminals: {{record['nb_available_terminals']}}</p>"
			text += "<p>Can return bicycle: {{'Yes' if record['can_return_bicycle'] == True else 'No'}}</p>"
			text += "<p>Is usable: {{'Yes' if record['is_usable'] == True else 'No' }}</p>"
			text += "<p>Has payment terminal: {{'Yes' if record['has_payment_terminal'] == True else 'No'}}</p>"
			text += "<p>Last Update: {{record['update_date']}}</p>"
			text += "</div>"

			/* Markers */
			var isUsable = {{ record['is_usable'] | int }}
			var nb_meca = {{ record['nb_mechanical_bicycles']}}
			var nb_elec = {{ record['nb_electrical_bicycles']}}
			if(isUsable){
				var marker = L.marker([{{ record['latitude'] }}, {{ record['longitude'] }}],  { icon: (nb_elec>=nb_meca? electric : meca) }).addTo(map).bindPopup(text);}
		{% endfor %}

		{% if departure and arrival %}
			var marker = L.marker([{{ departure['latitude'] }}, {{ departure['longitude'] }}],{ icon: departure }).addTo(map).bindPopup(text);
			var marker = L.marker([{{ arrival['latitude'] }}, {{ arrival['longitude'] }}],{ icon: arrival }).addTo(map).bindPopup(text);
		{% endif %}
	</script>
</html>
