<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="./assets/common/images/logo.png" />

    <title>Page Not Found</title>
</head>
<body style="text-align: center">
    <h1>Sorry! This page does not exist. </h1>
    <img style="display: inline-block" src="./assets/common/images/404.png" />
    <a style="display: block" href="{{ url_for('index') }}">Go back to the main page</a>
</body>
</html>